* {
    margin: 0%;
    padding: 0%;
    color: aliceblue;
    overflow-x: hidden;
    font-size: small;
}

body#mainHome {
    background-image: url("image/Background.png");
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vh;
    border: #df4a0f97 solid 2px;
    margin: 10px;
    height: 100%;
}

/* start header */
header {
    padding: 20px;
}

header a img {
    width: 25vw;
    min-width: 50px;
    max-width: 200px;
}

/* end header */

/* ------------------------- */

/* start main */
main {
    /* background-image: url("image/Rectangle.png"); */
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    gap: 5vh;
    align-self: center;
    justify-self: center;
}

/* start section one  */
section#one {
    width: auto;
    height: auto;
    display: grid;


}

div.text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

div.text div.content {
    font-size: smaller;
    display: flex;
    flex-flow: column wrap;
    gap: 2vh;
    width: 80%;
    height: auto;
}

div.text #title {
    font-size: xxx-large;
    font-weight: 500;
    font-style: italic;
    font-family: "Cormorant Garamond";

}

div.text button {
    background-color: #df4a0f72;
    border-radius: 10px;
    width: 32vw;
    padding: 5px;
    border: #df4b0f 2px solid;
}

div.icon {
    width: 150px;

    display: flex;
    gap: 1%;
    color: #df4a0f72;
    justify-content: space-evenly;

}

div.icon i {
    color: #df4a0f72;
    width: 20%;


}

/* end section one  */

/* ------------------------ */

/* start section two  */
section#two {

    width: auto;
    height: auto;
    display: grid;
    justify-content: center;

}

div.img-all {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
}

div.img {
    width: 70vw;
    border-radius: 100%;
    background-image: url("image/Shape\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #df4a0f97 2px;
}

div.img img {
    width: 95%;
    height: 95%;
}

div#form {
    display: none;
    position: absolute;
    top: 2vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;


}

#formOrder {
    background-color: #df4a0f30;
    border: #df4a0f97 solid 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    font-size: smaller;
    width: 100vw;


}

#formOrder .main {

    background-color: rgba(1, 1, 46, 0.415);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;

}

Form {
    background-color: #df4a0f55;
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    height: 90vh;
    gap: 15px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    border-radius: 5px;
}

Form input {
    padding: 10px;
    width: 55%;
    height: auto;
    border-radius: 10px;
    border: #df4a0f97 solid 2px;
    background-color: #df4a0f00;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

Form button {
    width: 15vh;
    background-color: #df4a0f00;
    padding: 5px;
    border: #df4a0f97 solid 2px;
    border-radius: 10px;
}

Form button:hover {
    background-color: #df4a0f97;
    transition: 400ms;
}

/* end section two  */

/* end main */
@media (max-width:375px) {
    div.icon {
        width: 115px;

        display: flex;
        gap: 1%;
        color: #df4a0f72;
        justify-content: space-evenly;

    }

}

@media (min-width:768px) {

    main {
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    section#one {

        width: 50%;
    }

    div.text div.content {
        font-size: larger;
        width: 80%;
    }

    div.text button {
        width: 15VW;
        max-width: 200px;

    }

    section#two {
        width: 70%;

    }

    .img-all {
        width: 90%;
    }

    div.img {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
    }
}

@media (min-width:1100px) {
    div.icon {
        width: 250px;

        display: flex;
        gap: 1%;
        color: #df4a0f72;
        justify-content: space-evenly;

    }

    div.icon i {
        color: #df4a0f72;
        width: 30%;


    }

}